.skills-title {
    text-align: center;
    margin-top: 20px;
}
h1 {
    color: #39FF14;
    font-size: 60px;
    font-weight: 1500;
}
.skills-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 50px;
    gap: 15px;
}
.card {
    color: white;
    background-color: rgb(78, 75, 75);
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border: 3px solid transparent;
    transition: transform 0.3s ease, background-color 0.3s ease;
    
}
.card-content h2 {
    font-size: 30px;
    margin: 10px 0;
}
.card-content p {
    font-size: 20px;
    line-height: 1.5;
}

.card:hover {
    transform: scale(1.05);
    background-color: rgb(78, 75, 75);
    border-color: #39FF14;
}
.card:hover .card-icon svg path {
    stroke: #39FF14;
}